<!DOCTYPE html>
<html>
    <head>
        <title>DevRoy</title>
        <meta property="og:title" content="DevRoy" />
        <meta property="og:type" content="apps" />
        <meta property="og:image" content="/images/clockwork-icon.png" />
        <meta property="og:url" content="https://henryvalbuena.herokuapp.com/" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/manifest.json">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        </head>
        
        <body>
        
        <!--MOBILE MENU BAR v1.1-->
    
    <div id="mobile-m" class="init-menu-class">
      <div class="ui massive top attached inverted menu">
        <div class="right menu">
          <div class="ui dropdown icon item">
            <img id="logo-i" src="/images/clockwork-icon.png">
            <div class="menu m-menu">
              <a class="item" href="/">
                <i class="home icon"></i> Home
              </a>
          <% if(!currentUser){ %>
                  <a class="item" href="/login"><i class="sign in icon"></i> Login</a>
              <div class="divider"></div>
                  <a class="item" href="/register"><i class="add user icon"></i> Sign-in</a>
          <% }else{ %>
                  <a class="item" href="/userprofile/<%=currentUser._id%>"><i class="star icon"></i>Hi <%=currentUser.username%></a>
              <div class="divider"></div>
                  <a class="item" href="/logout"><i class="sign out icon"></i> Logout</a>
          <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
        
     <!--DESKTOP MENU BAR v1.1-->
     
    <div id="desktop-m" class="init-menu-class">
      <div class="ui top fixed inverted menu">
        <div class="item">
          <img src="/images/clockwork-icon.png">
        </div>
            <a class="item large ui black label" href="/">DevRoy</a>
            <div class="right menu">
                <% if(!currentUser){ %>
                <a class="item large ui black label" href="/login"><i class="sign in icon"></i> Login</a>
                <a class="item large ui green label" href="/register"><i class="add user icon"></i> Sign-in</a>
                <% }else{ %>
                <a class="item large ui black label" href="/logout"><i class="sign out icon"></i> Logout</a>
                <a class="item large ui green label" href="/userprofile/<%=currentUser._id%>"><i class="star icon"></i>Hi <%=currentUser.username%></a>
                <% } %>
            </div>
      </div>
    </div>

<!--SUCCESS & ERROR MESSAGES v1.1-->

    <div class="ui container">
        <% if(error && error.length > 0){ %>
        <div class="ui large negative floating message">
          <i class="close icon"></i>
          <div class="header"><%= error%></div>
          <p><%= details%></p>
        </div>
        <% } else if (success && success.length > 0){ %>
        <div class="ui large positive floating message">
          <i class="close icon"></i>
          <div class="header"><%= success%></div>
        </div>
        <% } %>
    </div>